RedirectMatch ^/rss/about$ http://cyber.law.harvard.edu/rss/about.html
RedirectMatch ^/rss/advisoryBoard$ http://cyber.law.harvard.edu/rss/advisoryBoard.html
RedirectMatch ^/rss/announceRss2$ http://cyber.law.harvard.edu/rss/announceRss2.html
RedirectMatch ^/rss/bitTorrent$ http://cyber.law.harvard.edu/rss/bitTorrent.html
RedirectMatch ^/rss/creativeCommonsRssModule$ http://cyber.law.harvard.edu/rss/creativeCommonsRssModule.html
RedirectMatch ^/rss/currentBoard$ http://cyber.law.harvard.edu/rss/currentBoard.html
RedirectMatch ^/rss/enclosuresAggregators$ http://cyber.law.harvard.edu/rss/enclosuresAggregators.html
RedirectMatch ^/rss/encodingDescriptions$ http://cyber.law.harvard.edu/rss/encodingDescriptions.html
RedirectMatch ^/rss/howChannelDeanCameToBe$ http://cyber.law.harvard.edu/rss/howChannelDeanCameToBe.html
RedirectMatch ^/rss/mediaPostArticleReview$ http://cyber.law.harvard.edu/rss/mediaPostArticleReview.html
RedirectMatch ^/rss/myPublicFeedsOpml$ http://cyber.law.harvard.edu/rss/myPublicFeedsOpml.html
RedirectMatch ^/rss/payloadsForRss$ http://cyber.law.harvard.edu/rss/payloadsForRss.html
RedirectMatch ^/rss/permalinksNewsAggregators$ http://cyber.law.harvard.edu/rss/permalinksNewsAggregators.html
RedirectMatch ^/rss/relativeURI$ http://cyber.law.harvard.edu/rss/relativeURI.html
RedirectMatch ^/rss/rss$ http://cyber.law.harvard.edu/rss/rss.html
RedirectMatch ^/rss/rssChangeNotes$ http://cyber.law.harvard.edu/rss/rssChangeNotes.html
RedirectMatch ^/rss/rssRedirect$ http://cyber.law.harvard.edu/rss/rssRedirect.html
RedirectMatch ^/rss/rssVersionHistory$ http://cyber.law.harvard.edu/rss/rssVersionHistory.html
RedirectMatch ^/rss/skipHoursDays$ http://cyber.law.harvard.edu/rss/skipHoursDays.html
RedirectMatch ^/rss/slashCat$ http://cyber.law.harvard.edu/rss/slashCat.html
RedirectMatch ^/rss/soapMeetsRss$ http://cyber.law.harvard.edu/rss/soapMeetsRss.html
RedirectMatch ^/rss/toplevelNamespace$ http://cyber.law.harvard.edu/rss/toplevelNamespace.html
RedirectMatch ^/rss/userlandDisclaimer$ http://cyber.law.harvard.edu/rss/userlandDisclaimer.html
RedirectMatch ^/rss/weblogComments$ http://cyber.law.harvard.edu/rss/weblogComments.html
